<!DOCTYPE html>
<html lang="en" data-theme="bumblebee">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Previsão de preço</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
</head>
<body class="flex flex-col items-center justify-center min-h-screen bg-gray-100">
<div class="p-6 bg-white border-2 border-amber-600 rounded-lg max-w-screen-sm w-full max-h-screen overflow-auto">
    <div style="text-align: -webkit-center" class="mb-4">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" style="height: 3.5rem; width: 3.5rem; color: chocolate;">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z" />
        </svg>
    </div>
    <div>Ops! Parece que os dados de <b>Região</b>, <b>Bairro</b> e <b>Rua</b> não foram preenchidos corretamente. <a href="#" id="backLink" class="link link-secondary">Clique aqui</a> para voltar ao formulário. </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const backLink = document.getElementById('backLink');

    backLink.addEventListener('click', function (event) {
      event.preventDefault();
      history.back();
    });
  });
</script>
</body>
</html>