<div class="content hidden">
    <div class="collapse collapse-arrow bg-base-200 mb-2 rounded-md border border-orange-100">
      <input type="radio" name="aba_1" checked="checked" />
      <div class="collapse-title text-sm font-bold">Dados do corretor</div>
      <div class="collapse-content">
        <div class="form-control">
          <label class="form-control input-md w-full">
            <div class="label">
                <span class="label-text">Nome do projeto</span>
            </div>
            <input type="text" placeholder="Type here" class="input input-bordered w-full" name="plainTextEditProjectName"/>
          </label>
          <label class="form-control input-md w-full">
            <div class="label">
                <span class="label-text">Nome do corretor</span>
            </div>
            <input type="text" placeholder="Type here" class="input input-bordered w-full" name="plainTextEditBrookerName"/>
          </label>
          <label class="form-control input-md w-full">
            <div class="label">
                <span class="label-text">CRECI</span>
            </div>
            <input type="text" placeholder="Type here" class="input input-bordered w-full" name="plainTextEditBrookerCRECI"/>
          </label>
          <label class="form-control input-md w-full">
            <div class="label">
                <span class="label-text">Endereço comercial</span>
            </div>
            <input type="text" placeholder="Type here" class="input input-bordered w-full" name="plainTextEditBrookerBusinessAddress"/>
          </label>
        </div>
      </div>
    </div>
    <div class="collapse collapse-arrow bg-base-200 mb-2 rounded-md border border-orange-100">
      <input type="radio" name="aba_1"/>
      <div class="collapse-title text-sm font-bold">Dados do imóvel</div>
      <div class="collapse-content">
        <div class="form-control">
          <label class="form-control input-md w-full">
            <div class="label">
                <span class="label-text">Endereço do imóvel</span>
            </div>
            <input type="text" placeholder="Type here" class="input input-bordered w-full" name="plainTextEditHouseAdress"/>
          </label>
          <label class="form-control input-md w-full">
            <div class="label">
                <span class="label-text">Proprietário</span>
            </div>
            <input type="text" placeholder="Type here" class="input input-bordered w-full" name="plainTextEditHouseOwner"/>
          </label>
          <label class="form-control input-md w-full">
            <div class="label">
                <span class="label-text">Chave do projeto</span>
            </div>
            <input type="text" disabled placeholder="Type here" class="input input-bordered w-full" name="plainTextEditProjectKey"/>
          </label>
        </div>
      </div>
    </div>
</div>