<div class="content hidden">
    <div class="collapse collapse-arrow bg-base-200 mb-2 rounded-md border border-orange-100">
      <input type="radio" name="aba_3" checked="checked" />
      <div class="collapse-title text-sm font-bold">Áreas do imóvel</div>
      <div class="collapse-content">
        <div class="form-control form-control-custom">
          <label class="label cursor-pointer">
            <input type="checkbox" class="checkbox" name="itemGARAGE"/>
            <div class="label-text">Vaga de garagem</div>
          </label>
          <label class="label cursor-pointer">
            <input type="checkbox" class="checkbox" name="itemELEVATOR"/>
              <div class="label-text">Elevador</div>
          </label>
          <label class="label cursor-pointer">
            <input type="checkbox" class="checkbox" name="itemKITCHEN"/>
              <div class="label-text">Imóvel possui cozinha</div>
          </label>
          <label class="label cursor-pointer">
            <input type="checkbox" class="checkbox" name="itemFURNISHED"/>
              <div class="label-text">Imóvel mobiliado</div>
          </label>
          <label class="label cursor-pointer">
            <input type="checkbox" class="checkbox" name="itemPET_FRIENDLY"/>
              <div class="label-text">Pet-friendly</div>
          </label>
          <label class="label cursor-pointer">
            <input type="checkbox" class="checkbox" name="itemSERVICE_AREA"/>
              <div class="label-text">Área de serviço</div>
          </label>
          <label class="label cursor-pointer">
            <input type="checkbox" class="checkbox" name="itemLAUNDRY"/>
              <div class="label-text">Lavanderia (dentro do imóvel)</div>
          </label>
          <label class="label cursor-pointer">
            <input type="checkbox" class="checkbox" checked="checked" name="itemLUNCH_ROOM"/>
              <div class="label-text">Sala de jantar</div>
          </label>
          <label class="label cursor-pointer">
            <input type="checkbox" class="checkbox" name="itemBALCONY"/>
              <div class="label-text">Varanda</div>
          </label>
          <label class="label cursor-pointer">
            <input type="checkbox" class="checkbox" name="itemGOURMET_SPACE"/>
              <div class="label-text">Varanda (gourmet)</div>
          </label>
        </div>
      </div>
    </div>
    <div class="collapse collapse-arrow bg-base-200 mb-2 rounded-md border border-orange-100">
      <input type="radio" name="aba_3"/>
      <div class="collapse-title text-sm font-bold">Estilo do imóvel</div>
      <div class="collapse-content">
        <div class="form-control">
          <label class="label cursor-pointer">
            <input type="checkbox" class="checkbox" name="itemMID_END_APARTMENT_AMENITIES"/>
              <div class="label-text">Marque a opção de <b>"apartamento de padrão médio"</b> se o imóvel apresentar qualquer uma das características abaixo: <br/>
* Chão de piso frio, porcelanato ou similares, * Dependência de empregadas, * Banheiro de serviço, * Ar-condicionado pré-instalado (qualquer tipo).</div>
          </label>
          <label class="label cursor-pointer">
            <input type="checkbox" class="checkbox" name="itemHIGH_END_APARTMENT_AMENITIES"/>
              <div class="label-text">Marque a opção de <b>"apartamento de padrão alto"</b> se o imóvel apresentar qualquer uma das características abaixo: <br/> * Cozinha ampla, * Quartos amplos, * Isolamento acústico, * Lareira, * Isolamento térmico, * Aquecedor.</div>
          </label>
        </div>
      </div>
    </div>
</div>