<div class="content hidden">
    <div class="collapse collapse-arrow bg-base-200 mb-2 rounded-md border border-orange-100">
      <input type="radio" name="aba_4" checked="checked" />
      <div class="collapse-title text-sm font-bold">Vizinhança e redondeza</div>
      <div class="collapse-content">
        <div class="form-control">
          <label class="label cursor-pointer">
            <input type="checkbox" class="checkbox" name="itemESSENTIAL_PUBLIC_SERVICES"/>
              <div class="label-text">Marque a opção de <b>"Próximo a serviços essenciais"</b> se o imóvel ou condomínio estiverem próximos à serviços básicos, como transporte público (ônibus, metrô, VLT, BRT ou semelhantes), escolas (creche, escolas ou faculdades), e/ou serviços públicos, como Delegacia de Polícia, Corpo de Bombeiros ou similares.</div>
          </label>
          <label class="label cursor-pointer">
            <input type="checkbox" class="checkbox" name="itemNEAR_HOSPITAL"/>
              <div class="label-text">Marque a opção de <b>"Próximo a hospitais"</b> se o imóvel ou condomínio estiverem próximos à Unidades de Saúde Primária, Secundária ou Terciária, públicos ou particulares. Marque também se próximos à Unidades de Pronto Atendimento (UPA), Clínica de Família ou similares.</div>
          </label>
          <label class="label cursor-pointer">
            <input type="checkbox" class="checkbox" name="itemNEAR_SHOPPING_CENTER"/>
              <div class="label-text">Marque a opção de "Próximo a comércio" se o imóvel ou condomínio estiverem próximos à comércio formal, tal como Shopping Center, Centros Comerciais ou semelhantes.</div>
          </label>
        </div>
      </div>
    </div>
</div>