<div class="content hidden">
            <div class="collapse collapse-arrow bg-base-200 mb-2 rounded-md border border-orange-100">
              <input type="radio" name="aba_5" checked="checked" />
              <div class="collapse-title text-sm font-bold">Ecologia e meio-ambiente</div>
              <div class="collapse-content">
                <div class="form-control">
                  <label class="label cursor-pointer">
                    <input type="checkbox" class="checkbox" name="itemVIEW"/>
                      <div class="label-text">Marque a opção de <b>"Vista livre"</b> se o imóvel apresentar qualquer uma das características abaixo: <br/> * Vista Para O Mar; * Vista Para A Montanha; * Vista Panorâmica; * Vista Exterior; * Vista Para O Lago.</div>
                  </label>
                  <label class="label cursor-pointer">
                    <input type="checkbox" class="checkbox" name="itemOUTDOOR_AREAS"/>
                      <div class="label-text">Marque a opção de <b>"ambientes naturais"</b> se o condomínio apresentar qualquer uma das características abaixo: <br/> * Quintal; * Espaço Verde; * Árvores Frutíferas; * Lago; * Rio; * Pomar; * Escalada Em Árvores; * Marina; * Praça; * Redário; * Orquidário.</div>
                  </label>
                  <label class="label cursor-pointer">
                    <input type="checkbox" class="checkbox" name="itemSUSTAINABILITY"/>
                      <div class="label-text">Marque a opção de <b>"Sustentabilidade"</b> se o condomínio apresentar qualquer uma das características abaixo: <br/> * Energia Solar; * Coletor Ecológico De Lixo; * Condomínio Ecológico; * Ventilação Natural; * Estacionamento Para Bicicletas; * Apartamento Inteligente; * Condomínio Inteligente; * Carregador Elétrico; * Horta; * Estacionamento Para Bicicletas.</div>
                  </label>
                  <label class="label cursor-pointer">
                    <input type="checkbox" class="checkbox" name="itemREST_AREAS"/>
                      <div class="label-text">Marque a opção de <b>"Espaços de relaxamento"</b> se o condomínio apresentar qualquer uma das características abaixo: <br/> * Spa, * Sauna, * Espaço zen, * Sala de massagem, * Biblioteca, * Solário, * Centro de beleza, * Massagem.</div>
                  </label>
                </div>
              </div>
            </div>
        </div>