<div class="content hidden">
    <div class="collapse collapse-arrow bg-base-200 mb-2 rounded-md border border-orange-100">
      <input type="radio" name="aba_7" checked="checked" />
      <div class="collapse-title text-sm font-bold">Trabalho</div>
      <div class="collapse-content">
        <div class="form-control">
          <label class="label cursor-pointer">
            <input type="checkbox" class="checkbox" name="itemWORK_AREAS"/>
              <div class="label-text">Marque a opção de <b>"Co-Working"</b> se o condomínio apresentar qualquer uma das características abaixo: <br/> * Coworking, * Escritório em casa, * Sala de reuniões, * Salão de convenções. </div>
          </label>
        </div>
      </div>
    </div>
    <div class="collapse collapse-arrow bg-base-200 rounded-md border border-orange-100">
      <input type="radio" name="aba_7" />
      <div class="collapse-title text-sm font-bold">Acessibilidade e segurança</div>
      <div class="collapse-content">
        <div class="form-control">
          <label class="label cursor-pointer">
            <input type="checkbox" class="checkbox" name="itemSAFETY"/>
              <div class="label-text">Marque a opção de <b>"Segurança ativa"</b> se o condomínio apresentar qualquer uma das características abaixo: <br/> * Cabine de segurança blindada, * Circuito de segurança, * Sistema de alarme, * Câmera de segurança, * Segurança 24 horas, * Vigilante, * Cabine de segurança, * Patrulha, * Interfone, * Concierge 24h, * Portão eletrônico, * Recepção, * Armário digital, * Portão eletrônico, * Condomínio fechado, * Cerca.</div>
          </label>
          <label class="label cursor-pointer">
            <input type="checkbox" class="checkbox" name="itemACCESSIBILITY"/>
            <div class="label-text">Marque a opção de <b>"Acessibilidade"</b> se o condomínio apresentar qualquer uma das características abaixo: <br/>
            * Cuidados infantis, * Rua pavimentada, * Acesso para deficientes.
            </div>
        </label>
        </div>
      </div>
    </div>
</div>